*{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*::selection{
    background: white;
    color: black;
    border-radius: 10%;
}
.hero{
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right, #333, #161616);
}
#mmddyy{    
    font-size: 11.5vw;
    font-weight: lighter;
    font-family: 'Fira Code', monospace;
    padding-bottom: 100px;
    color: white;
    animation-name: fadeup;
    animation-duration: 1s;
}
#clock{
    font-size: 1.8rem;
    font-family: monospace;
    color: white;
}
#made{
    position: absolute;
    right: 2.5%;
    bottom: 2.5%;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    font-weight: 900;
    color: white;
    background: transparent;
    padding: 10px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-right-radius: 10px;
    border:2px solid white;
}
#madeby{
    position: absolute;
    left: 2.5%;
    bottom: 10%;
    font-size: 1rem;
    font-family: 'Fira Code', monospace;
    font-weight: 900;
    color: white;
    background: transparent;
    padding: 10px;
    padding-bottom: 15px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    border:2px solid white;
}
#madeby a{
    font-family: 'Roboto Mono', monospace;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}
